<h3>Welcome</h3>
<% if current_user.nil? %>
<% else %>
<p id="user-welcome" data-name="<%= current_user.name %>"></p>
<% end %>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
